@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    background-color:rgb(143, 250, 97) ;
}

th{
    background-color: aquamarine;
}

td{
    background-color: #fff;
    text-align: center;
    width: 100px;
}
table{
    font-size: 20px;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
}
.clase1{
    width: 300px;
    height: 100px;
    margin:auto;
    margin-top: 100px;
}
input{
    width: 30px;
    height: 30px;
}